@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the laptop store</h1>
    <div class="content">
        @Html.ActionLink("Browse", "Index", "Products")<br />
        @Html.ActionLink("Cart", "Index", "Cart")
    </div>
</div>
