@{
    ViewData["Title"] = "StudentList";
}

<h2>StudentAsView</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.Partial("_studentInfo");
        </div>
    </div>
</div>
