@model EHealth.Admin.Web.ViewModels.NewMedicineViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medicine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!--
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label class="control-label">Category</label>
                <select asp-for="SelectedCategoryId" asp-items="@Model.CategoryItems"></select>
            </div>
            <div class="form-group">
                <label asp-for="TheMedicine.Name" class="control-label"></label>
                <input asp-for="TheMedicine.Name" class="form-control" />
                <span asp-validation-for="TheMedicine.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheMedicine.Description" class="control-label"></label>
                <input asp-for="TheMedicine.Description" class="form-control" />
                <span asp-validation-for="TheMedicine.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheMedicine.Price" class="control-label"></label>
                <input asp-for="TheMedicine.Price" class="form-control" />
                <span asp-validation-for="TheMedicine.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheMedicine.Image" class="control-label"></label>
                <input asp-for="TheMedicine.Image" class="form-control" />
                <span asp-validation-for="TheMedicine.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheMedicine.Seller" class="control-label"></label>
                <input asp-for="TheMedicine.Seller" class="form-control" />
                <span asp-validation-for="TheMedicine.Seller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
