@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-8">
            <a href="Home/StudentView">Student View without Authorization Filter</a><br />
            <a href="Home/StudentViewSecure">Student View requiring Authorization Filter</a>
        </div>
    </div>
</div>
