@{
    ViewData["Title"] = "Home Page";
}

<p>
    @Html.ActionLink("Users", "Index", "Users", null, new { @class = "btn btn-primary btn-large" } )
</p>

<p>
    @Html.ActionLink("Medicines", "Index", "Medicines", null, new { @class = "btn btn-primary btn-large" } )
</p>

<p>
    @Html.ActionLink("Categories", "Index", "Categories", null, new { @class = "btn btn-primary btn-large" } )
</p>
